<h1>New Student Form</h1>

<%= form_for(@student) do |t| %>
    <label>First Name:</label><br>
    <%= t.text_field :first_name %><br>
    <label>Last Name:</label><br>
    <%= t.text_field :last_name %><br>
    <%=t.submit "Submit Student"%>
<% end %>

